/*

Template 2105 Input

http://www.tooplate.com/view/2105-input
	
*/


html {
    font-size: 17px;
}


body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Arial, Helvetica, sans-serif;
}

textarea, input {
    color: white !important;
    background-color: transparent;
    border: 1px solid white;
}

    textarea::placeholder, input::placeholder {
        color: #ccc;
        opacity: 1;
    }

    textarea:focus, input:focus {
        outline-color: #26a69a;
    }

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    background-size: 5% auto;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/cat.jpg') no-repeat center center;
}


.div-container {
    display: flex;
    margin: 20px;
}

.btn {
    height: 35px;
    width: 120px;
    border-radius: 5px;
    font-size: 12px;
    padding: -50px 5px;
}
.row,
ul,
li:last-child {
    margin-bottom: 0;
}

textarea,
input {
    color: white;
}

textarea {
    border-color: white;
    height: 8rem;
}

    textarea:focus {
        outline-color: #26a69a;
    }